/*
Creator: Michael Torpea
Name: crypto-allegro.scss
Input: requires _variables.scss reference
Output: crypto-allegro.css/ crypto-allegro.min.css - Crypto Allegro specific CSS
*/

// Variables: EDITABLE
@import "_inc/_variables";
@import "_inc/font-awesome/fontawesome.scss";
@import "_inc/font-awesome/solid.scss";
@import "bootstrap-slider.scss"; 

//

body {
    background: $body-bg;
    font-family: $font-family-display;
    font-weight: 400;
    color: $white;
}

.crypto {
    h1,h2,h3,h4,h5,h6 {
        text-transform: uppercase;
    }
    
    .navbar-inverse {
        background-color: $nav-bg;
    }
    
    .navbar-inverse .navbar-nav>li>a {
        line-height: 32px;
        letter-spacing: 1px;
    }
    
    .navbar-form {
        margin-top: 15px;
    }
    
    .navbar .form-control {
        background-color: $alt-row;
        color: $input-text;
        border: none;
    }
    
    .navbar-brand {
        padding: 15px 10px;
    }
    
    .navbar-brand img {
        height: 30px;
        width: auto;
    }
    
    .username {
        padding-right: 18px;
    }
    
    .table {
        color: $white;
        font-weight: 200; 
        font-size: 13px;
        letter-spacing: 2px;
    }
    
    td {
        font-weight: 200;
        letter-spacing: 3px;
    }
    
    th {
        font-size: 10px;
        color: $th-color;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: $alt-row;
    }
    
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 24px;
    vertical-align: top;
    border-top: none !important;
    border-bottom: none;
    }
    
    .right-align {
        text-align: right;
    }
    
    .asset-link {
        font-weight: 600;
        color: $asset-link;
        text-decoration: none;
    }
    
    .asset-list-icon {
        height: 24px;
        width: 24px;
        margin-right: 16px;
    }
    
    .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pagination>li>a.active {
        z-index: 2;
        color: $white;
        background-color: $asset-link;
        border-color: $asset-link;
    }
    
    .pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    .pagination>li>a {
        z-index: 2;
        color: $asset-link;
        background-color: $body-bg;
        border-color: $white;
    }
    
    .page {
        color: $white;
        margin-right: 16px;
        line-height: 29px;
    }
    
    .btn {
        min-width: 150px;
        margin-left: 15px;
        white-space: normal;
        min-height: 44px;
        height: inherit;
        margin-right: 0;
    }
    
    .btn-success {
        background-color: $success;
    }
    
    .btn.secondary {
        color: $secondary;
        background-color: transparent;
        border: 2px solid $secondary;
    }
    
    .category1 {
        background: $white;
        width: 1px !important;
        height: 17px !important;
        top: -7px !important;
    }
    
    @media (max-width: 480px) {
        .btn {
            width: 100%;
            margin-left: 0;
            margin-bottom: 16px;
        }
    }
    
    @media (max-width: 767px) {
        .table-responsive {
            border: none;
        }
    }
}


/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("../fonts/SF-UI-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("../fonts/SF-UI-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("../fonts/SF-UI-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("../fonts/SF-UI-Display-Thin.otf");
}

/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("../fonts/SF-UI-Display-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("../fonts/SF-UI-Text-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/SF-UI-Text-BoldItalic.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("../fonts/SF-UI-Text-Heavy.otf");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/SF-UI-Text-HeavyItalic.otf");
}

/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("../fonts/SF-UI-Text-Light.otf");
}

/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/SF-UI-Text-HeavyItalic.otf");
}

/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("../fonts/SF-UI-Text-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/SF-UI-Text-MediumItalic.otf");
}

/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("../fonts/SF-UI-Text-Regular.otf");
}

/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/SF-UI-Text-RegularItalic.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("../fonts/SF-UI-Text-Semibold.otf");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/SF-UI-Text-SemiboldItalic.otf");
}

/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("../fonts/SF-UI-Text-Ultrathin.otf");
}

/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/SF-UI-Text-UltrathinItalic.otf");
}